h1,h2,p{
    margin:0;
    padding:0;
}
ul,li{
    list-style: none;
    padding: 0;
    margin:0;
}
.content{
    margin-top: 20px;
}
.error{
    border: 1px solid red;
}
.right{
	border: 1px solid green;
}